<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Update Event</h3>
    </div>
    <div class="col text-right">
      <a routerLink="/"  class="btn btn-secondary btn-sm">Back To Events List</a>
    </div>
  </div>
  <br />
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
 
    <input formControlName="id"
           id="id"
           type="hidden" />
    
 
    
      <label for="name">Name:</label>
      <input formControlName="name"
             id="name"
             type="text"
             class="form-control" />

      <label for="category">Category:</label>
       <input formControlName="category"
             name="category"
              id="category"
              type="number"
              class="form-control" />   
   
        <label for="description">Description:</label>
        <input formControlName="description"
               id="description"
               type="text"
               class="form-control" />
      
   
      
        <label for="name">Location</label>
        <input formControlName="location"
        id="location"
        type="text"
        class="form-control" />
     
 
     
        <label for="startDate">Start Date:</label>
        <input formControlName="startDate"
               id="startDate"
               type="date"
               class="form-control" />
     
      
          <label for="endDate">End Date:</label>
          <input formControlName="endDate"
                 id="endDate"
                 type="date"
                 class="form-control" />
        
 
      <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Update</button>
  </form>
</div>
