<div class="container">
  <br />

  <div class="row">
    <div class="col">
      <h3>Create Event</h3>
    </div>
    <div class="col text-right">
      <a routerLink="/events" class="btn btn-secondary btn-sm">Back To Events List</a>
    </div>
  </div>
  <br />

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name" id="name" type="text" 
              class="form-control" required [(ngModel)]="eventToSubmit.name"/>
    </div>  
      
    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control"  type="number" 
              name="category" id="category" [(ngModel)]="eventToSubmit.category" >
        <option [ngValue]="1">Business</option>
        <option [ngValue]="2">IT</option>
        <option [ngValue]="3">Software</option>
        <option [ngValue]="4">Technology</option>
      </select>   
    </div>
    
    <div class="form-group">
      <label for="description">Description:</label>
      <input name="description" id="description" type="text"
              class="form-control" required [(ngModel)]="eventToSubmit.description" />  
    </div> 
    
    <div class="form-group">
      <label for="location">Location</label>
      <input name="location" id="location" type="text"
              class="form-control" required [(ngModel)]="eventToSubmit.location"/>  
    </div>
        
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input name="startDate" id="startDate" type="datetime-local"
              class="form-control" [(ngModel)]="eventToSubmit.startDate"/>
    </div>    
   
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input name="endDate" id="endDate" type="datetime-local"
              class="form-control" [(ngModel)]="eventToSubmit.endDate"/>
    </div>
        
    <button class="btn btn-primary" type="submit" >Create</button>
  </form>
  
</div>
