.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(71, 69, 69);
    height: 20%;
    text-align: center;
}

.confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #f2f2f2;
    padding: 15px 20px 15px 20px;
    color: rgb(77, 76, 75);
    z-index: 9999;
    text-align: center;
}

mat-icon {
    padding: 0px 10px 15px 8px;
    float: right;
}

.content {
    height: 70%;
    padding-bottom: 30px;
    overflow: hidden;
    /* Hide scrollbars */
}