<p>events works!</p>

<div class="container">
    <div class="events-container">
      <div class="events-form">
        <form action="">
          <div class="form-group">
            <label for="">Event name</label>
            <input type="text" name="eventName">
          </div>
          <div class="form-group">
            <label for="">Event description</label>
            <input type="text" name="eventDescription">
          </div>
          <div class="form-group">
            <label for="">Event Location</label>
            <input type="text" name="eventLocation">
          </div>
        </form>        
      </div>
    </div>
  </div> 
